<div class="bodyContent">
    <h1 class="mainHeading">Waiter Scheduling</h1>
    {{#if waiterSchedule}}
    <div class="daysSelected">{{waiterSchedule}}</div>
    {{/if}}
    <form action="/waiters/{{user}}" method="post">
        {{#if messages.error}}
            <div class="message msgError">{{messages.error}}</div>
        {{/if}}
        <div class="days box">
            {{#each weekData}}
            <div class="day panel">
                <label for="{{this.id}}">{{this.day}}</label>
                <input type="checkbox" id="{{this.id}}" name="day" value="{{this.day}}">
            </div>         
            {{/each}}
        </div>

        <input type="submit" value="Schedule" class="btn btnSchedule">
        {{#if messages.success}}
            <div class="message msgSuccess">{{messages.success}}</div>
        {{/if}}
    </form>
</div>